/* 隱藏 input:number 的右方增減箭頭 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    margin: 0; /* 去掉 margin */
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: none
}