/* Card */

.custom-card {
    width: 360px;
    height: 322px;
    text-decoration: none; /* 去除超連結下劃線 */
    transition: box-shadow 0.3s ease; /* 添加過渡效果 */
}

.custom-card:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); /* 減輕的懸停陰影效果 */
}  