<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品資訊</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script >
        function previewImage() {
            var fileInput = document.getElementById('productPicFile');
            var preview = document.getElementById('preview');
            var file = fileInput.files[0];
            var reader = new FileReader();
            
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            
            if (file) {
                reader.readAsDataURL(file);
            }else {
                // 如果沒有選擇新文件，保持現有圖片
                preview.src = preview.getAttribute('data-original-src') || '';
                preview.style.display = preview.src ? 'block' : 'none';
            }
        }

        // 頁面加載時顯示現有圖片
         window.onload = function() {
            var preview = document.getElementById('preview');
            if (preview.src) {
                preview.style.display = 'block';
                // 保存原始圖片 URL
                preview.setAttribute('data-original-src', preview.src);
            } else {
                preview.style.display = 'none';
            }
        }
    </script>
</head>
<body class="bg-gray-100">

    <div class="container mx-auto mt-10">
        <h2 class="text-2xl font-bold mb-5 text-center">商品資訊</h2>
        <form th:action="@{/admin/product/{id}/edit(id=${product.productID})}" method="post" enctype="multipart/form-data" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <input type="hidden" name="_method" value="PUT" />
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="categoryId">類別</label>
                <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="categoryId" name="categoryId">
                    <option th:each="category : ${categories}" 
                            th:value="${category.categoryId}" 
                            th:text="${category.categoryName}"
                            th:selected="${category.categoryId == product.productCategory.categoryId}">
                    </option>
                </select>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="tagId">標籤</label>
                <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="tagId" name="tagId">
                    <option th:each="tag : ${tags}" 
                            th:value="${tag.tagId}" 
                            th:text="${tag.tagName}"
                            th:selected="${tag.tagId == product.productTag.tagId}">
                    </option>
                </select>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="productName">商品名稱</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="productName" type="text" name="productName" th:value="${product.productName}">
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="productPicFile">商品圖片</label>
                <input type="file" id="productPicFile" name="imageFile" accept="image/*" onchange="previewImage()" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <div id="imagePreviewContainer" class="mt-2">
                    <img id="preview" th:src="@{${product.productPic}}" alt="商品圖片預覽" class="max-w-xs">
                </div>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="productDesc">商品描述</label>
                <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="productDesc" name="productDesc" rows="3" th:text="${product.productDesc}"></textarea>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="price">價格</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="price" type="number" name="price" th:value="${product.price}">
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="stock">庫存</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="stock" type="number" name="stock" th:value="${product.stock}">
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="status">狀態</label>
                <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="status" name="status">
                    <option value="1" th:selected="${product.status == '1'}">上架</option>
                    <option value="0" th:selected="${product.status == '0'}">下架</option>
                </select>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="prodTotalReviews">評論總數</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="prodTotalReviews" type="number" name="prodTotalReviews" th:value="${product.prodTotalReviews}">
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="prodTotalScore">總評分</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="prodTotalScore" type="number" name="prodTotalScore" th:value="${product.prodTotalScore}">
            </div>

            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    更新商品
                </button>
                <a href="/TickitEasy/admin/product" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    返回商品列表
                </a>
            </div>
        </form>
    </div>

    <div th:replace="~{commons/adminFooter}"></div>

    
</body>
</html>