<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org/">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css">
		<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.js"></script>
		<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
		<meta th:replace="~{commons/adminHead}">
		<title>商品訂單管理</title>

	<style>
		.btnn {
			display: inline-block;
			padding: 5px 7px;
			background-color: #333;
			color: #fff;
			text-decoration: none;
			border-radius: 5px;
			margin-right: 5px;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		.actions {
			margin-top: 20px;
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

		th,
		td {
			padding: 12px;
			text-align: left;
			border-bottom: 1px solid #ddd;
		}

		th {
			background-color: #333;
			color: #fff;
		}

		.pagination-container {
			display: flex;
			justify-content: center;
			margin-top: 20px;
			/* 根據需要調整上邊距 */
		}

		.buttons {
			margin: 0 5px;
			/* 按鈕之間的間距 */
		}

		.margin {
			margin-left: 20px;
		}
		

	</style>


	
</head>

<body>
	<div th:replace="~{commons/adminHeader}"></div>
		<!-- 這裡是網頁內容 -->
		<h1>商品訂單管理</h1>
		<nav class="navbar bg-body-tertiary">
			<div class="container-fluid">
				<form class="d-flex" role="search">
					<select class="form-select">
						<option selected>訂單編號</option>
						<option>會員編號</option>
						<option>訂單日期</option>
					</select>
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

					<span class="input-group-text me-2 margin">每頁筆數</span>
					<select class="form-select" id="select2">
						<option selected>5</option>
						<option>10</option>
						<option>25</option>
					</select>
				</form>
			</div>
		</nav>
		<div class="width">
			<div class="order-list">
				<table>
					<thead>
						<tr>
							<th>周邊商品訂單編號
							<th>會員編號
							<th>訂單日期
							<th>付款方式
							<th>付款資訊
							<th>訂單狀態
							<th>總金額
							<th>操作
						</tr>

					</thead>
					<tbody>

						<th:block th:if="${allPage != null and allPage.content != null}">

							<tr align="center" th:each="prodOrders : ${allPage.content}">
								<td th:text="${prodOrders.prodOrderID}" />
								<td th:text="${prodOrders.member.memberID}" />
								<td th:text="${prodOrders.orderDate}" />
								<td th:text="${prodOrders.payments}" />
								<td th:text="${prodOrders.paymentInfo}" />
								<td th:text="${prodOrders.status}" />
								<td th:text="${prodOrders.totalAmount}" />

								<td>
									<form method="post" action="http://localhost:8080/TickitEasy/admin/order/delete">
										<input type="hidden" name="prodOrderID" th:value="${prodOrders.prodOrderID}">
										<button type="submit" class="btn btn-danger" name="button" value="delete">
										<i class="fas fa-trash-alt mr-1"></i>刪除</button>
									</form>
									<!-- <form method="post" action="http://localhost:8080/TickitEasy/admin/order/update">
										<input type="hidden" name="prodOrderID" th:value="${prodOrders.prodOrderID}">
										<button type="submit" class="btn btn-success" name="button" value="update">
										<i class="fas fa-edit mr-1"></i>修改</button>
									</form> -->
									<form method="post" action="http://localhost:8080/TickitEasy/admin/order/prodOrderDetails">
										<input type="hidden" name="prodOrderID" th:value="${prodOrders.prodOrderID}">
										<button type="submit" class="btn btn-secondary" name="button">
										<i class="fas fa-search mr-1"></i>檢查詳細</button>
									</form>
								</td>
							</tr>
						</th:block>

					</tbody>
				</table>
			</div>
			<div class="actions">
				<!-- <form method="post" th:action="@{/admin/order/insert}">
					<button type="submit" class="btn btn-primary" name="button" value="insert">
						<i class="fas fa-plus mr-1"></i>新增訂單</button>
				</form> -->
			</div>
			<!-- 放頁數 -->
			<div class="pagination-container">

			</div>
		</div>
		<div th:replace="~{commons/adminFooter}"></div>
	

		<script>
			const contextPath = window.location.protocol + "//" + window.location.host + "/" + window.location.pathname.split("/")[1];
			let pageNumber = 1;
			let records = document.querySelector("#select2").value
	
			axios.get(contextPath + "/admin/order/page", {
				params: {
					pageNumber: pageNumber,
					records: records
				}
			})
				.then(res => {
					console.log(res);
					NumberOfPages(res.data.totalPages); //抓取頁數
					NumberOfEvent(); //給予每頁按鈕事件
				})
				.catch(err => {
					console.log(err);
				})
	
			//抓取頁數
			function NumberOfPages(data) {
				let div = document.querySelector(".pagination-container")
				div.innerHTML = "";
				for (let i = 1; i <= data; i++) {
					div.innerHTML += `<button class="buttons btn btn-primary">${i} </button>`
				}
			}
			//給予每頁按鈕事件
			function NumberOfEvent() {
				let buttons = document.querySelectorAll(".pagination-container button")
				for (let i = 1; i <= buttons.length; i++) {
					buttons[i - 1].addEventListener("click", function (e) {
						axios.get(contextPath + "/admin/order/page", {
							params: {
								pageNumber: i,
								records: document.querySelector("#select2").value
							}
						})
							.then(res => {
								viewData(res.data.content)
							})
							.catch(err => {
								console.log(err);
							})
					})
				}
			}
			//將每頁數據顯示
			function viewData(data) {
				let tbody = document.querySelector("tbody");
				tbody.innerHTML = ""
				data.forEach(prodOrders => {
					tbody.innerHTML += `
					<tr align="center">
						<td>${prodOrders.prodOrderID}</td>
						<td>${prodOrders.member.memberID}</td>
						<td>${prodOrders.orderDate}</td>
						<td>${prodOrders.payments}</td>
						<td>${prodOrders.paymentInfo}</td>
						<td>${prodOrders.status}</td>
						<td>${prodOrders.totalAmount}</td>
						<td>
							<form method="get" action="http://localhost:8080/TickitEasy/admin/order/delete">
								<input type="hidden" name="prodOrderID" value="${prodOrders.prodOrderID}">
								<button type="submit" class="btn btn-danger" name="button" value="delete">
								<i class="fas fa-trash-alt mr-1"></i>刪除</button>
							</form>
							<form method="post" action="http://localhost:8080/TickitEasy/admin/order/prodOrderDetails">
								<input type="hidden" name="prodOrderID" value="${prodOrders.prodOrderID}">
								<button type="submit" class="btn btn-secondary" name="button">
								<i class="fas fa-search mr-1"></i>檢查詳細</button>
							</form>
						</td>
					</tr>
					`
				});
	
			}
	
			//search添加事件
			let input = document.querySelector(".form-control");
	
			input.addEventListener('input', function (e) {
				let select = document.querySelector(".form-select").value
				let value = document.querySelector(".form-control").value
				if (select === "訂單編號" || select === "會員編號") {
					document.querySelector(".form-control").type = "number";
				} else {
					document.querySelector(".form-control").type = "search";
				}
				let pageNumber = 1;
	
				axios.post(contextPath + "/admin/order/findByProdidOrMemberidOrDate", null, {
					params: {
						name: select,
						number: value,
						pageNumber: pageNumber,
						records: document.querySelector("#select2").value
					}
				})
					.then(res => {
						viewData(res.data.content)
						NumberOfPages(res.data.totalPages); //抓取頁數
						NumberOfEventSelect(select, value, pageNumber); //給予每頁按鈕事件
					})
					.catch(err => {
						console.log(err);
					})
	
	
			})
	
			function NumberOfEventSelect(select, value, pageNumber) {
				let buttons = document.querySelectorAll(".pagination-container button")
	
				for (let i = 1; i <= buttons.length; i++) {
					buttons[i - 1].addEventListener("click", function (e) {
						axios.post(contextPath + "/admin/order/findByProdidOrMemberidOrDate", null, {
							params: {
								name: select,
								number: value,
								pageNumber: i,
								records: document.querySelector("#select2").value
							}
						})
							.then(res => {
								viewData(res.data.content)
							})
							.catch(err => {
								console.log(err);
							})
					})
				}
			}
	
	
			//筆數選單事件
			document.querySelector("#select2").addEventListener("change", function (e) {
				let selectEvent = document.querySelector("#select2").value
				axios.get(contextPath + "/admin/order/page", {
					params: {
						pageNumber: 1,
						records: selectEvent
					}
				})
					.then(res => {
						viewData(res.data.content)
						NumberOfPages(res.data.totalPages); //抓取頁數
						NumberOfEvent(); //給予每頁按鈕事件
					})
					.catch(err => {
						console.log(err);
					})
			})
		</script>
	
</body>

</html>