<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta th:replace="~{commons/adminHead}">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.7/dist/axios.js"></script>
	<title>活動詳情</title>
	<style>
		table>tbody>tr>th {
			width: 100px;
			text-align: right;
			vertical-align: middle;
		}
		table>tbody>tr>td {
			text-align: left;
			vertical-align: middle;
		}
	</style>
	<script>
		$(document).ready(function () {

			// 初始化常數與 function

			const contextPath = window.location.protocol + "//" + window.location.host + "/" + window.location.pathname.split("/")[1];
			const currentPath = window.location.protocol + "//" + window.location.host + window.location.pathname;
			
			// EventListener
			const editForm = document.getElementById("edit-form");
			// const eventID = document.getElementById("eventID").value;  // 未確認為何失敗
			const eventID = window.location.pathname.split("/")[4];
			const resultDiv = document.getElementById("result");
			editForm.addEventListener("submit", function(event) {
				event.preventDefault();
				resultDiv.innerHTML = `
					<div class="spinner-border" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>`;
				resultDiv.classList.remove("text-danger");
				resultDiv.classList.remove("text-success");

				let formData = new FormData(editForm);

				axios.put(contextPath + "/admin/api/event/" + eventID, formData)
				.then(res => {
					console.log(res);
					if (res.status == 200) {
						resultDiv.classList.add("text-success");
						resultDiv.innerText = "編輯成功！";
						createForm.reset();
					}
				})
				.catch(err => {
					console.error(err); 
					if (err.status == 400) {
						resultDiv.classList.add("text-danger");
						resultDiv.innerText = err.response.data;
					}
				});
			})

			document.getElementById("cancel").addEventListener("click", function() {
				window.location.href = currentPath.substring(0, currentPath.lastIndexOf("/"));
			})

		});
	</script>
</head>

<body>
	<div th:replace="~{commons/adminHeader}"></div>
    
	<!--  這裡是網頁內容 >-->
	<div class="container">
		<h1>編輯活動</h1>
		<form id="edit-form" enctype="multipart/form-data">
		<table class="table table-hover" th:unless="${error}">
			<tbody>
				<tr>
					<th>活動編號</th>
					<td>
						<input type="text" class="form-control-plaintext" readonly name="eventID" id="event-id" th:value="${event.eventID}">
					</td>
				</tr>
				<tr>
					<th>狀態</th>
					<td id="statusTd">
						<span th:if="${event.status == 0}" id="status" th:data-status="${event.status}" class="d-flex align-items-center text-danger">未上架</span>
						<span th:if="${event.status == 1}" id="status" th:data-status="${event.status}" class="d-flex align-items-center text-success">已上架</span>
						<span th:if="${event.status == 2}" id="status" th:data-status="${event.status}" class="d-flex align-items-center text-primary">已啟售</span>
					</td>
				</tr>
				<tr>
					<th>活動名稱</th>
					<td>
						<input type="text" class="form-control-plaintext" readonly th:value="${event.eventName}">
						<input type="text" class="form-control" name="eventName" placeholder="編輯活動名稱">
					</td>
				</tr>
				<tr>
					<th>活動主圖</th>
					<td>
						<img th:if="${event.eventPic != null}" th:src="@{${event.eventPic}}" th:alt="${event.eventName}" class="mb-2" width=320px>
						<span th:unless="${event.eventPic != null}"><input type="text" class="form-control-plaintext" readonly value="（無圖片）"></span>
						<input type="file" class="form-control" name="eventPicFile">
					</td>
				</tr>
				<tr>
					<th>活動類別</th>
					<td>
						<input type="text" class="form-control-plaintext" readonly th:value="${event.eventCategory.categoryName}">
						<select class="form-select" name="categoryString">
							<option value="">（未選擇）</option>
							<th:block th:each="category : ${categoryList}">
								<option th:value="${category.categoryString}">[[${category.categoryName}]]</option>
							</th:block>
						</select>
					</td>
				</tr>
				<tr>
					<th>活動標籤</th>
					<td>
						<input th:if="${event.eventTag != null}" type="text" class="form-control-plaintext" readonly th:value="${event.eventTag.tagName}">
						<input th:unless="${event.eventTag != null}" type="text" class="form-control-plaintext" readonly th:value="（無標籤）">
						<select class="form-select" name="tagString">
							<option value="">（未選擇）</option>
							<th:block th:each="tag : ${tagList}">
								<option th:value="${tag.tagString}">[[${tag.tagName}]]</option>
							</th:block>
						</select>
					</td>
				</tr>
				<tr>
					<th>活動介紹</th>
					<td>
						<textarea th:if="${event.eventDesc != null}" class="form-control-plaintext" readonly>[[${event.eventDesc}]]</textarea>
						<textarea th:unless="${event.eventDesc != null}" class="form-control-plaintext" readonly>（無活動介紹）</textarea>
						<textarea class="form-control" name="eventDesc" placeholder="編輯活動介紹"></textarea>
					</td>
				</tr>
			</tbody>
		</table>
		<div th:if="${error}">未找到此筆活動。</div>
		<div id="action-buttons" class="d-flex mb-3">
			<div id="result" class="d-flex align-items-center"></div>
			<button class="btn btn-secondary ms-auto" type="button" id="cancel">取消</button>
			<button class="btn btn-primary ms-3" type="submit" id="edit">儲存編輯</button>
		</div>
		</form>
	</div>
   <div th:replace="~{commons/adminFooter}"></div>
</body>

</html>