<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta th:replace="~{commons/adminHead}">
	<script src="https://cdn.jsdelivr.net/npm/axios@1.7.7/dist/axios.js"></script>
	<script src="/TickitEasy/event/js/utils.js"></script>
	<title>活動列表</title>
	<script>
		$(document).ready(function () {

			// 搜尋 Ajax
			function search(params) {
				let urlWithParams = contextPath + "/admin/api/event?";
				if (params != null) {
					Object.entries(params).forEach(([key, value]) => {
						urlWithParams += `${key}=${value}&`;
					});
				}
				console.log(urlWithParams);

				// 在 tbody 顯示 spinner
				document.getElementById("tbody").innerHTML = `
					<tr>
						<td colspan="9">
							<!-- spinner -->
							<div class="d-flex justify-content-center align-item-center m-5">
								<div class="spinner-border" role="status">
									<span class="visually-hidden">Loading...</span>
								</div>
							</div>
						</td>
					</tr>`;
				// 將 pagination 消失
				document.querySelector("ul.pagination").innerHTML = "";

				

				axios.get(urlWithParams)
					.then(res => {
						console.log(res.data);
						tbodyMaker(res.data.content);
						paginationMaker(res.data);
					})
					.catch(err => {
						console.error(err);
					})
			}

			// tbody 內容處理：參數接受 res.data.content
			function tbodyMaker(data) {
				const tbody = document.getElementById("tbody");
				tbody.innerHTML = "";

				for (const event of data) {
					let tbodyHtml = `<tr>
							<td>${event.eventID}</td>
							<td>${event.eventName}</td>`;
					
					if (event.eventPic != null) {
						tbodyHtml += `<td><img src="${contextPath}${event.eventPic}" alt="活動主圖" width=240px></td>`;
					} else {
						tbodyHtml += `<td>（無圖片）</td>`;
					}
							
					tbodyHtml += `<td>${event.eventCategory.categoryName}</td>`;

					if (event.eventTag != null) {
						tbodyHtml += `<td>${event.eventTag.tagName}</td>`;
					} else {
						tbodyHtml += `<td>（無標籤）</td>`;
					}

					tbodyHtml += `<td>${event.address.substring(0, 2)}</td>`;
					tbodyHtml += `<td>${dateFormat(event.eventStartTime)}</td>`;

					switch (event.status) {
						case 0:
							tbodyHtml += `<td class="text-danger">未上架</td>`;
							break;
						case 1:
							tbodyHtml += `<td class="text-success">已上架</td>`;
							break;
						case 2:
							tbodyHtml += `<td class="text-primary">已啟售</td>`;
							break;
					}

					tbodyHtml += `
						<td><button class="event-detail btn btn-primary" data-event-id="${event.eventID}">查看</button></td>
						</tr>`;

					tbody.innerHTML += tbodyHtml;
				}
			}

			// pagination 內容處理：參數接受 res.data
			function paginationMaker(data) {
				const ulPagination = document.querySelector("ul.pagination");
				ulPagination.innerHTML = "";

				let paginationHtml = "";
				paginationHtml += `
					<li class="page-item">
						<button class="page-link" aria-label="Previous" data-page-num="previous">
							<span aria-hidden="true">&laquo;</span>
						</button>
					</li>
					<li class="page-item"><button class="page-link" data-page-num="1">1</button></li>`;
				for (let i = 1; i < data.totalPages; i++) {
					paginationHtml += `<li class="page-item"><button class="page-link" data-page-num="${i + 1}">${i + 1}</button></li>`;
				}
				paginationHtml += `
					<li class="page-item">
						<button class="page-link" aria-label="Next" data-page-num="next">
							<span aria-hidden="true">&raquo;</span>
						</button>
					</li>`;

				ulPagination.innerHTML += paginationHtml;

				// EventListener
				[...document.querySelectorAll("button.page-link")].forEach((element, index) => {
					switch (element.getAttribute("data-page-num")) {
						case "previous":
							if (data.pageable.pageNumber == 0) {
								element.classList.add("disabled");
							} else {
								element.setAttribute("data-page-num", data.pageable.pageNumber);
							}
							break;
						case "next":
							if (data.pageable.pageNumber + 1 == data.totalPages) {
								element.classList.add("disabled");
							} else {
								element.setAttribute("data-page-num", data.pageable.pageNumber + 2);
							}
							break;
					}
					element.addEventListener("click", function() {
						const params = getParams();
						params.pageNumber = this.getAttribute("data-page-num");
						// let param = {
						// 	pageNumber: this.getAttribute("data-page-num")
						// };
						console.log(params);
						search(params);
					})
				})
			}


			// EventListener
			
			// 查詢按鈕
			document.getElementById("search").addEventListener("click", () => {
				const params = getParams();
				console.log(params);
				
				search(params);
			})
			// 取得查詢參數
			function getParams() {
				return {
					eventName: document.getElementById("event-name").value,
					cityName: document.getElementById("city-name").value,
					categoryString: document.getElementById("category").value,
					tagString: document.getElementById("tag").value,
					searchingDate: document.getElementById("searching-date").value,
					orderByProperty: document.getElementById("order-by").value,
					directionString: document.getElementById("direction").value
				}
			}

			// tbody 的「查看」按鈕
			$("#tbody").on("click", ".event-detail", function () {
				let eventID = this.getAttribute("data-event-id")
				window.location.href = `${currentPath}/${eventID}`;
			})


			// 初始執行
			search();
		});
	</script>
</head>

<body>
	<div th:replace="~{commons/adminHeader}"></div>

	<!--  這裡是網頁內容 -->
	<div class="container">

		<h1>活動列表</h1>

		<!-- 查詢區 -->
		<div class="card mb-5" id="searchingDiv">
			<div class="card-header">
				<h5 class="mb-0">查詢與排序</h5>
			</div>
			<div class="card-body">
				<div class="d-flex justify-content-around mb-2">
					<div class="d-flex align-items-center">
						<label for="event-name" class="text-end me-3" style="width: 100px;">活動名稱</label>
						<input type="text" id="event-name" class="form-control">
					</div>
					<div class="d-flex align-items-center">
						<label for="event-name" class="text-end me-3" style="width: 100px;">都市</label>
						<input type="text" id="city-name" class="form-control">
					</div>
				</div>
				<div class="d-flex justify-content-around mb-2">
					<div class="d-flex align-items-center">
						<label class="text-end me-3" style="width: 100px;">類別</label>
						<select class="form-select" id="category">
							<option value="" selected>（全部）</option>
							<th:block th:each="category: ${categoryList}">
								<option th:value="${category.categoryString}">[[${category.categoryName}]]</option>
							</th:block>
						</select>
					</div>
					<div class="d-flex align-items-center mb-2">
						<label class="text-end me-3" style="width: 100px;">標籤</label>
						<select class="form-select" id="tag">
							<option value="" selected>（全部）</option>
							<th:block th:each="tag: ${tagList}">
								<option th:value="${tag.tagString}">[[${tag.tagName}]]</option>
							</th:block>
						</select>
					</div>
					<div class="d-flex align-items-center">
						<label for="searching-date" class="text-end me-3" style="width: 100px;">日期</label>
						<input type="date" id="searching-date" class="form-control">
					</div>
				</div>
				<div class="d-flex justify-content-around mb-2">
					<div class="d-flex align-items-center">
						<label class="text-end me-3" style="width: 140px;">排序依據</label>
						<select class="form-select" id="order-by">
							<option value="eventStartTime" selected>活動開始時間</option>
						</select>
					</div>
					<div class="d-flex align-items-center">
						<label class="text-end me-3" style="width: 140px;">排序方向</label>
						<select class="form-select" id="direction">
							<option value="ASC" selected>升冪</option>
							<option value="DESC">降冪</option>
						</select>
					</div>
				</div>
				<div class="d-flex justify-content-center align-items-center">
					<button class="btn btn-primary" id="search">查詢</button>
				</div>
			</div>
		</div>
		
		<table class="table table-hover">
			<thead>
				<tr>
					<th>活動編號</th>
					<th>活動名稱</th>
					<th>活動主圖</th>
					<th>類別</th>
					<th>標籤</th>
					<th>地區</th>
					<th>活動開始時間</th>
					<th>狀態</th>
					<th>詳情</th>
				</tr>
			</thead>
			<tbody id="tbody">

			</tbody>
		</table>
		<div class="d-flex flex-row-reverse">
			<nav>
				<ul class="pagination">
				</ul>
			</nav>
		</div>
	</div>

	<div th:replace="~{commons/adminFooter}"></div>
</body>

</html>