<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
                </main>
            </div>
        </div>
        <footer class="container bg-warning" style="height: 30px;">
            <!-- 這裡是 footer -->
        </footer>
    </div>

    <script th:src="@{/commons/js/bootstrap@5.3.3.js}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.js"></script> -->
</body>

</html>