<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title></title>
        <style>
        .footer {
            background-color: #f8f9fa;
            border-top: 1px solid #e9ecef;
            padding: 15px 0;
            text-align: center;
            font-size: 14px;
            color: #6c757d;
        }
    </style>
</head>

<body>
                
        <div/>
	
        <footer class="footer">
        <div class="container">
            &copy; 2024 TickitEasy. 版權所有.
        </div>
    </footer>
</body>

</html>