<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org/">

<body>
    <!-- 固定在頂部的導航欄 -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <!-- 側邊欄收起按鈕 -->
            <button type="button" id="sidebarCollapse" class="btn">
                <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
            </button>
            <a class="navbar-brand ms-3" th:href="@{/admin/dashboard}">
                <!-- 替換瑋芳 logo 的位置 -->
                <!-- <i class="fas fa-ticket-alt me-2"></i> -->
                <img th:src="@{/logo/LogoWhite.svg}" alt="logo" width=34px class="me-2">
                <img th:src="@{/logo/TextWhite.svg}" alt="logo" width=130px class="me-2" style="transform:none;">
                &ensp; 後台管理系統
            </a>
            <!-- 登出按鈕，始終顯示在右側 -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/logout}"><i class="fas fa-sign-out-alt"></i> 登出</a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        <!-- 側邊欄 -->
        <nav id="sidebar">
            <ul class="list-unstyled">
                <li>
                    <a th:href="@{/admin/dashboard}" class="sidebar-link"><i class="fas fa-tachometer-alt"></i> 後台管理首頁</a>
                </li>
                <li>
                    <a href="#memberSubmenu" data-bs-toggle="collapse" aria-expanded="false"
                        class="sidebar-link dropdown-toggle">
                        <i class="fas fa-user-cog"></i> 會員管理
                    </a>
                    <ul class="collapse list-unstyled submenu" id="memberSubmenu">
                        <li>
                            <a th:href="@{/admin/member}" class="sidebar-link"><i class="fas fa-user-friends"></i> 會員列表</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/member/analytics}" class="sidebar-link"><i class="fas fa-chart-line"></i> 會員統計分析</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#eventSubmenu" data-bs-toggle="collapse" aria-expanded="false"
                        class="sidebar-link dropdown-toggle">
                        <i class="fas fa-calendar-check"></i> 活動管理
                    </a>
                    <ul class="collapse list-unstyled submenu" id="eventSubmenu">
                        <li>
                            <a th:href="@{/admin/event}" class="sidebar-link"><i class="fas fa-calendar-day"></i> 活動列表</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/event/create}" class="sidebar-link"><i class="fas fa-calendar-plus"></i> 新增活動</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#productSubmenu" data-bs-toggle="collapse" aria-expanded="false"
                        class="sidebar-link dropdown-toggle">
                        <i class="fas fa-shopping-bag"></i> 商品管理</a>
                    <ul class="collapse list-unstyled submenu" id="produuctSubmenu">
                        <li>
                            <a th:href="@{/admin/product}" class="sidebar-link"><i class="fas fa-boxes"></i> 商品列表</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/product/create}" class="sidebar-link"><i class="fas fa-plus-circle"></i> 新增商品</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/product/analytics}" class="sidebar-link"><i class="fas fa-chart-line"></i> 商品統計分析</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/admin/order}" class="sidebar-link"><i class="fas fa-shopping-cart"></i> 訂單管理</a>
                </li>
                <li>
                    <a href="#cwdfundingSubmenu" data-bs-toggle="collapse" aria-expanded="false"
                        class="sidebar-link dropdown-toggle"><i class="fas fa-hand-holding-usd"></i> 募資活動管理</a>
                    <ul class="collapse list-unstyled submenu" id="cwdfundingSubmenu">
                        <li>
                            <a href="/TickitEasy/admin/fundproject/create" class="sidebar-link"><i class="fas fa-calendar-plus"></i> 新增募資活動</a>
                        </li>
                        <li>
                            <a href="/TickitEasy/admin/fundproject" class="sidebar-link"><i class="fas fa-calendar-day"></i> 募資活動列表</a>
                        </li>
                        <li>
                            <a href="/TickitEasy/admin/fundproject/order" class="sidebar-link"><i class="fas fa-shopping-cart"></i> 募資訂單列表</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#postSubmenu" data-bs-toggle="collapse" aria-expanded="false"
                        class="sidebar-link dropdown-toggle">
                        <i class="fas fa-comments"></i> 討論區管理</a>
                    <ul class="collapse list-unstyled submenu" id="postSubmenu">
                        <li>
                            <a href="/TickitEasy/admin/post" class="sidebar-link"><i class="fas fa-list-alt"></i> 貼文列表</a>
                        </li>
                    </ul>
                </li>
				<li>
                    <a th:href="@{/}" class="sidebar-link">前台首頁</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="content">

</body>

</html>