<html>

<body>
    <div th:replace="~{commons/userHeader}"></div>

    <div class="container1 my-5 mx-auto">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="text-center">
                    <img src="https://via.placeholder.com/120" alt="Profile Picture" class="profile-pic"
                        id="profilePicDisplay">
                    <h3 class="text-center">嗨！<span id="memberName1"></span></h3>
                </div>
                <ul class="nav nav-pills flex-column mt-4">
                    <li class="nav-item">
                        <a class="nav-link active" href="/TickitEasy/profile">
                            <i class="fas fa-user me-2"></i> 個人資料
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-file-invoice me-2"></i> 訂單記錄
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-donate me-2"></i> 募資紀錄
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-pen me-2"></i> 發表過的貼文
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-heart me-2"></i> 收藏匣
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-headset me-2"></i> 線上客服
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="content1">
</body>

</html>