<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="css/multi-step-form.css" />
    <title>Test</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/multi-step-form.js"></script>
  </head>
  <body>
    <div class="container">
      <form id="msform">
        <div class="row">
          <div class="col col-2 m-3">
            <ul id="progressbar">
              <li class="active" id="project"><strong>募資活動</strong></li>
              <li><strong>方案總數</strong></li>
              <li><strong>方案內容</strong></li>
              <li><strong>完成</strong></li>
            </ul>
          </div>
          <div class="col col-8 m-3">
            <fieldset class="fieldset">
              <div class="row">
                <div class="col">
                  <p class="fw-bolder text-start p-2">新增募資活動</p>
                </div>
              </div>
              <table class="table table-borderless custom-table">
                <tbody style="background-color: black">
                  <tr>
                    <td>
                      <input
                        type="text"
                        name="title"
                        placeholder="活動名稱"
                        id="title"
                        class="form-control fw-bold borderhidden bg-light-subtle fs-4 text-start m-0 p-0"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">類別</div>
                    </td>
                    <td class="col-8">
                      <select
                        class="form-select form-select-sm w-25"
                        aria-label="Default select example"
                        name="category"
                        id="category"
                      >
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Two</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">目標金額</div>
                    </td>
                    <td class="col-8">
                      <input
                        type="number"
                        name="targetAmount"
                        class="form-control w-25"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">目前金額</div>
                    </td>
                    <td class="col-8">
                      <input
                        type="number"
                        name="currentAmount"
                        placeholder="0"
                        class="form-control w-25"
                        disabled
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">開始日期</div>
                    </td>
                    <td class="col-8">
                      <input
                        type="datetime-local"
                        name="startDate"
                        class="form-control w-50"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">結束日期</div>
                    </td>
                    <td class="col-8">
                      <input
                        type="datetime-local"
                        name="endDate"
                        class="form-control w-50"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">展延門檻</div>
                    </td>
                    <td class="col-8">
                      <input
                        type="range"
                        name="threshold"
                        class="form-range borderhidden float-start w-50"
                        min="0"
                        max="1"
                        step="0.1"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">展延日期</div>
                    </td>
                    <td class="col-8">
                      <input
                        type="datetime-local"
                        name="postponeDate"
                        class="form-control w-50"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">封面</div>
                    </td>
                    <td class="col-8">
                      <input
                        type="file"
                        name="postponeDate"
                        class="form-control w-50"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">敘述</div>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-2" colspan="2">
                      <textarea
                        rows="5"
                        name="description"
                        maxlength="150"
                        class="form-control bg-light-subtle w-75"
                      ></textarea>
                    </td>
                  </tr>
                </tbody>
              </table>
              <input
                type="button"
                name="next"
                class="next action-button btn"
                value="Next"
              />
            </fieldset>
            <fieldset class="fieldset">
              <table class="table table-borderless custom-table">
                <tbody style="background-color: black">
                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">請選取方案總數量</div>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-8">
                      <select
                        class="form-select form-select w-25"
                        aria-label="Default planAmount"
                        name="planAmount"
                        id="planAmountSelect"
                      >
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
              <input
                id="planAmount-btn"
                type="button"
                name="next"
                class="next action-button btn"
                value="Next"
              />
              <input
                type="button"
                name="previous"
                class="previous action-button-previous btn"
                value="Previous"
              />
            </fieldset>
            <fieldset>
              <div id="outputBlock"></div>
              <input
                type="button"
                name="next"
                class="next action-button btn"
                value="Next"
              />
              <input
                type="button"
                name="previous"
                class="previous action-button-previous btn"
                value="Previous"
              />
            </fieldset>
            <fieldset class="fieldset">
              <div class="row">
                <div class="col">
                  <p class="fw-bolder text-start p-2">《方案一》</p>
                </div>
              </div>
              <table class="table table-borderless custom-table">
                <tbody style="background-color: black">
                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">方案名稱</div>
                    </td>
                    <td class="col-8">
                      <input
                        type="text"
                        name="title"
                        id="title"
                        class="form-control fw-bold borderhidden bg-light-subtle fs-4 text-start m-0 p-0 w-50"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">單價</div>
                    </td>
                    <td class="col-8">
                      <input
                        type="number"
                        name="targetAmount"
                        class="form-control w-25 text-end"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">總數量</div>
                    </td>
                    <td class="col-8">
                      <input
                        type="number"
                        name="currentAmount"
                        placeholder="0"
                        class="form-control w-25 text-end"
                        disabled
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">已購數量</div>
                    </td>
                    <td class="col-8">
                      <input
                        type="number"
                        name="startDate"
                        class="form-control w-25 text-end"
                        placeholder="0"
                        disabled
                      />
                    </td>
                  </tr>

                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">圖片</div>
                    </td>
                    <td class="col-8">
                      <input
                        type="file"
                        name="postponeDate"
                        class="form-control w-50"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="col-2">
                      <div class="fieldlabels fw-medium">內容</div>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-2" colspan="2">
                      <textarea
                        rows="2"
                        name="description"
                        maxlength="50"
                        class="form-control bg-light-subtle w-75"
                      ></textarea>
                    </td>
                  </tr>
                </tbody>
              </table>
              <input
                type="button"
                name="next"
                class="next action-button btn"
                value="Next"
              />
              <input
                type="button"
                name="previous"
                class="previous action-button-previous btn"
                value="Previous"
              />
            </fieldset>
            <fieldset class="fieldset">
              <div class="form-card">
                <div class="row">
                  <div class="col-7">
                    <h2 class="fs-title">Finish:</h2>
                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 4 - 4</h2>
                  </div>
                </div>
                <br /><br />
                <h2 class="purple-text text-center">
                  <strong>SUCCESS !</strong>
                </h2>
                <br />
                <div class="row justify-content-center">
                  <div class="col-3"></div>
                </div>
                <br /><br />
                <div class="row justify-content-center">
                  <div class="col-7 text-center">
                    <h5 class="purple-text text-center">
                      You Have Successfully Signed Up
                    </h5>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
