* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

p {
  color: black;
  font-size: 14px;
}

.custom-table tr,
td {
  background: #f8f9fa !important;
  align-items: center;
}

#heading {
  text-transform: uppercase;
  color: #673ab7;
  font-weight: normal;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#msform fieldset {
  background: #f8f9fa;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

/* #msform .row .col:nth-of-type(2) fieldset {
  background: red;
} */

/* #msform .row .col:not(:nth-of-type(2)) fieldset {
  display: none;
} */

#msform .row .col fieldset:not(:first-of-type) {
  display: none;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #673ab7;
  outline-width: 0;
}

#msform .action-button {
  width: 100px;
  background: #673ab7;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #311b92;
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000;
}

.form-control {
  margin-left: 0px; /* 減少輸入框的上邊距 */
}

.borderhidden {
  border: none !important; /* 移除邊框 */
  outline: none !important; /* 移除輪廓 */
  padding: 8px 15px; /* 保持內部填充 */
  font-family: montserrat; /* 確保字體一致 */
  color: #2c3e50; /* 確保顏色一致 */
  font-size: 16px; /* 確保字體大小一致 */
  position: relative; /* 為了使用絕對定位的伪元素 */
}

#title::placeholder {
  color: #ccc !important;
}

.card {
  z-index: 0;
  border: none;
  position: relative;
}

.fs-title {
  font-size: 18px;
  color: #673ab7;
  font-weight: bold;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}

.purple-text {
  color: #673ab7;
  font-weight: normal;
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.fieldlabels {
  color: gray;
  text-align: left;
  font-size: 14.5px;
  display: flex;
  align-items: center;
}

#progressbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
  font-size: 9px;
  width: 100%; /* 讓步驟占滿可用寬度 */
  position: relative;
  margin-bottom: 20px; /* 每個步驟之間的間距 */
}

#progressbar {
  list-style-type: none;
  counter-reset: step;
  margin: 0;
  padding: 0;
}

#progressbar .active {
  color: #673ab7;
}

#progressbar li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  color: black;
  font-size: 14px;
  width: 100%; /* 讓步驟占滿可用寬度 */
  position: relative;
  /* font-weight: 400; */
  margin-bottom: 20px; /* 每個步驟之間的間距 */
  padding: 10px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px; /* 調整寬度和高度 */
  height: 30px;
  display: flex; /* 使用 flex 居中 */
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  font-size: 16px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin-right: 15px; /* 圓點與文本的間距 */
}

#progressbar li:after {
  content: "";
  width: 2px; /* 垂直連接線的寬度 */
  height: 60px; /* 每個步驟之間的連接線高度 */
  background: lightgray;
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateX(-50%);
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #673ab7;
}
#progressbar li:last-child:after {
  content: none; /* 最後一個步驟不需要連接線 */
}
.progress {
  height: 20px;
}

.progress-bar {
  background-color: #673ab7;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}
#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f13e";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007";
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f030";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}
