<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org/">

<head>
	
    <!-- 在這裡放要引入的 CSS 與 JS library -->
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
	<link rel="stylesheet" href="/TickitEasy/event/css/findOneById.css">
	<script src="/TickitEasy/event/js/utils.js"></script>
	<script src="/TickitEasy/event/js/ticketTypesCart.js"></script>
	<script src="/TickitEasy/event/js/findOneById.js"></script>

    <meta th:replace="~{commons/userHead}">
	<title>[[${titleEventName}]]</title>
</head>

<body>
	<div th:replace="~{commons/userHeader}"></div>
    
	<!--  這裡是網頁內容 -->
	<div class="container py-4 px-3">
		<h1 class="mb-3" style="padding-top: 1rem !important;">[[${titleEventName}]]</h1>
		<div id="event-content">
			<!-- spinner -->
			<div class="d-flex justify-content-center align-item-center m-5">
				<div class="spinner-border" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
		</div>
	</div>

    <div th:replace="~{commons/userFooter}"></div>

	<template id="event-content-template">
		<div class="row my-4">
			<div class="col-8">
				<img class="w-100 rounded" id="event-pic" src="/TickitEasy/images/event/EventPicDefault.png" alt="活動名稱">
			</div>
			<div class="col-4 d-flex flex-column justify-content-evenly">
				<div>
					<span id="category" class="category badge bg-main-blue-purple fw-normal fs-6">類別</span>
					<span id="tag" class="tag badge bg-main-bright-orange fw-normal fs-6 ms-3"></span>
				</div>
				<div>
					<div class="d-flex">
						活動地點：<span id="place">地點</span><a id="google-map-link" class="ms-auto">Google Map</a>
					</div>
					<div>
						地址：<span id="address">地址</span>
					</div>
				</div>
				<div>
					活動時間：<br>
					<span id="event-start-time" class="ms-4">開始時間</span><span class="ms-1">～</span><br>
					<span id="event-end-time" class="ms-4">結束時間</span>
				</div>
				<div>
					入場時間：<br>
					<span id="start-entry-time" class="ms-4">開始入場時間</span><span class="ms-1">～</span><br>
					<span id="end-entry-time" class="ms-4">結束入場時間</span>
				</div>
			</div>
		</div>
		<div class="my-4">
			<h3 class="mb-2">活動介紹</h3>
			<div id="event-desc"></div>
		</div>
		<div class="my-4" id="tickettypes-content">
			<h3 class="mb-2">票種列表</h3>
			<div class="d-flex flex-column gap-2" id="tickettype-content">
			</div>
		</div>
	</template>

	<template id="tickettype-template">
		<div class="row border border-secondary rounded p-3">
			<div class="col-6 d-flex flex-column gap-1 align-items-center justify-content-center">
				<div class="w-100">
					<span class="fs-5 tickettype-name">（票種名稱）</span>
				</div>
				<div class="w-100">
					售票期間：
					<span class="tickettype-start-sale-time">（開始售票時間）</span>
					<span class="mx-1">～</span>
					<span class="tickettype-end-sale-time">（結束售票時間）</span>
				</div>
			</div>
			<div class="col-2 d-flex justify-content-center align-items-center">
				<span>價格：<span class="tickettype-price">NaN</span></span>
			</div>
			<div class="col-2 d-flex justify-content-center align-items-center">
				<span>剩餘數量：<span class="tickettype-quantity-left">100</span></span>
			</div>
			<div class="col-2 d-flex flex-column gap-1 align-items-center justify-content-center">
				<div class="input-group">
					<button class="minus btn btn-outline-secondary">-</button>
					<input type="number" class="quantity form-control text-center" min="0" readonly value="0">
					<button class="plus btn btn-outline-secondary">+</button>
				</div>
				<button class="add-to-cart btn btn-primary mt-1" disabled>非售票期間</button>
			</div>
		</div>
	</template>

	<template id="no-tickettype-template">
		<div class="d-flex justify-content-center align-item-center border border-secondary rounded p-3">
			<span>（目前無票種）</span>
		</div>
	</template>
</body>

</html>
